<%= form_with(model: problem, local: true) do |form| %>
<% if @problem.errors.any? %>
<h5 style="color: red;"><%= @problem.errors.full_messages.to_sentence %></h5>
<% end %>

  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <br>
  Select a Category<br>
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br>
      Or Create New Category<br>
      <%= form.fields_for :categories, @problem.categories.build do |c| %>
        <%= c.text_field :name %>
      <% end %>


      <% if @problem.user == current_user%>
      <p>Enable Voting <%= form.check_box :status, options = {:class => "problem_active"} %></p>
      <p>Declare winner? <%= form.check_box :declare_winner, options = {:class => "problem_declare_winner"} %></p>
      <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
