
<% if user_signed_in?%>
  <h2>Dashboard for: <%= current_user ? current_user.email : nil  %></h2>
  <%= link_to "All Problems", problems_path %>
  <%= link_to 'Report a Problem', new_problem_path %>
  <h3>Reported Problems</h3>
  <ul>
    <%@problems.each do |problem| %>
      <li><%=link_to problem.title, problem %> </li>
    <% end %>
  </ul>

  <h3>Submited Proposals:</h3>
  <ul>
    <%@proposals.each do |proposal| %>
      <li><%= link_to proposal.title, proposal_path(proposal) %> for problem <%= link_to proposal.problem.title, problem_path(proposal.problem) %> -- Reported by - <%= link_to proposal.problem.user.username, user_path(proposal.user.id)%> </li>
    <% end %>
  </ul>

<% else %>
  <h3>Please sign in or Sign up!</h3>
<% end %>
