<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @proposal.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @proposal.content %>
</p>

<p>
  <strong>Proposed by:</strong>
  <%= @proposal.user.username %>
</p>

<p>
  <% if @problem%>
    <strong>Problem:</strong>
    <%= link_to @proposal.problem.title, problem_path(@problem) %>
  <% else%>
    <strong>Problem:</strong>
    <%= link_to @proposal.problem.title, problem_path(@proposal.problem) %>
  <% end %>
</p>
<h4>Materials Required:<h4>
  <ul>
    <% @proposal.materials.each do |material| %>
    <li><%= material.quantity%> - <%=  link_to material.name, problem_proposal_material_path(material.proposal.problem, material.proposal, material)  %> </li>
    <% end %>
  </ul>

<% if @proposal.user == current_user || current_user.admin%>
<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<% end %>
<h6><%= link_to("Return to Problem", problem_path(@proposal.problem)) %></h6>
<% if @problem%>
  <%= link_to 'Back', problem_path(@problem) %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
